{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static "style.css" %}"
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png"}">
	<link rel="manifest" href="{% static "favicon/site.webmanifest" %}">
	<link rel="mask-icon" href="{% static "favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#603cba">
	<meta name="theme-color" content="#ffffff">
	<title>{{ title }}</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="header-line">
				<div class="header-logo">
					<img src="{% static "images/logo.png" %}" width="50" height="50">
				</div> 
				<div class="nav">
					<a class="nav-item" href="{% url "main:index" %}">HOME</a>
					<a class="nav-item" href="{% url "catalog:index" %}">CATALOG</a>
					<a class="nav-item" href="{% url "main:about" %}">ABOUT</a>
					<a class="nav-item" href="@">CONTACT US</a>
				</div>
				<div class="cart">
					<a href="@">
						<img src="{% static "images/cart.png" %}" width="40" height="40">
					</a>
				</div>
			</div>
		</div>
		<div class="header-down">
			<div class="header-title">
				{{content}}
			</div>
		</div>
	</div>
</body>
</html>