body{
    margin: 0;
    background-image: url(images/mountains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Raleway";
}

.container{
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-line{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-item{
    color: rgb(106, 186, 178);
    text-decoration: none;
    margin-right: 40px;
    font-size: 25px;
}

.nav-item:hover{
    color:  rgb(255, 255, 255);
}

.nav-item:last-child{
    margin-right: 0px;
}

.header-logo{
    margin-right: 400px;
}

.cart{
    margin-left: 400px;
}

.header-title{
    color: white;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    padding: 0px 80px

}

.header-down{
    margin-top: 110px;
}

.footer{
    margin-top: auto;
}

.footer-line{
    display: flex;
    padding-bottom: 50px;
    align-items: center;
    justify-content: space-around;
       
}

.link-item{
    margin-right: 15px;
    text-decoration: none;
}

.number{
    color: white;
    text-decoration: none;
    font-family: Tahoma;
    border-bottom: 1px white solid;
    font-size: 20px;
}

.number:hover{
    color: grey;
    border-bottom: 1px grey solid;
}

.text{
    color: white;
    font-size: 30px;
    padding: 0px 30px;
    text-align: justify;
    

}

.text-bg{
    background: linear-gradient(rgba(118, 150, 150, 0.2),rgba(39, 90, 86, 0.2));
    margin: 40px 300px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 black;

    
    
     
}