body{
    margin: 0;
    background-image: url(images/mountains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Raleway";
}

.container{
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-line{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-item{
    color: rgb(106, 186, 178);
    text-decoration: none;
    margin-right: 40px;
    font-size: 25px;
}

.nav-item:hover{
    color:  rgb(255, 255, 255);
}

.nav-item:last-child{
    margin-right: 0px;
}

.header-logo{
    margin-right: 400px;
}

.cart{
    margin-left: 400px;
}

.header-title{
    color: white;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    padding: 0px 80px

}

.header-down{
    margin-top: 110px;
}

.footer{
    margin-top: auto;
}

.footer-line{
    display: flex;
    padding-bottom: 50px;
    align-items: center;
    justify-content: space-around;
       
}

.link-item{
    margin-right: 15px;
    text-decoration: none;
}

.number{
    color: white;
    text-decoration: none;
    font-family: Tahoma;
    border-bottom: 1px white solid;
    font-size: 20px;
}

.number:hover{
    color: grey;
    border-bottom: 1px grey solid;
}

.text{
    color: white;
    font-size: 30px;
    padding: 0px 30px;
    text-align: justify;
    

}

.text-bg{
    background: linear-gradient(rgba(118, 150, 150, 0.2),rgba(39, 90, 86, 0.2));
    margin: 40px 300px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 black;  
}



.catalog{
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    border-radius: 20px;
    margin: 20px 230px;
    padding: 20px 60px;
    background: linear-gradient(rgba(118, 150, 150, 0.2),rgba(39, 90, 86, 0.2));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 black;  
    position: relative;
}




.good-card{
    background-color: white;
    width: 200px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px; 
    text-align: center;
    position: relative;
}



.good-image{
    display: flex;
    justify-content: center;
    
   
}


.info h3{
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 350;
    font-family: Helvetica;
}

.price-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;

}

.add-to-cart{
    background-color: rgb(106, 186, 178);
    border: none;
    width: 36px;
    height: 18px;
    display: flex;
    justify-content: center;
    border-radius: 15px;

}

.price{
    font-family: Helvetica;
    font-weight: 400;
}

.info span{
    font-family: Helvetica;
    font-weight: 500;
}

.add-to-cart:hover{
    background-color: rgb(25, 78, 73);
}

.categories{
    
    margin: 50px 132px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cat-list{
    list-style: none;
    display: flex;
    border-radius: 20px;
    margin: 0px; 
    background-color: white;
    padding: 5px;
}


.cat-link{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-right: 30px;
    background-color: white;
    border-radius: 20px;
    transition: .3s;
}

.cat-link:last-child{
    margin-right: 0px;
}

.cat-link:hover{
    background-color: rgb(233, 233, 233);
}